{% extends './base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class='container'>

<h2>What is Words2URL</h2>
<p>
<em>Words2URL</em> is a simple online service that associates your favourite <em>Word</em> (or phrase) to <em>Data</em> such as
URL, text, and short HTML.
</p>
<p>
Type "google" and you are taken to the famous search engine, as expected.<br>
Type "penguin" if you like the birds.
</p>
<p>
Our service is meant to be used, for example, as a shared/personal bookmark, 
a pointer to your product page,
an online business card, and an online meeting URL opener.
</p>
<p>
You do not have to memorise a complicated URL but just keep your favourite Word.
<br>
You do not have to text a long meeting URL but just tell your Word in person or over the phone.
<br>
Your tweet looks nicer with Word than with a cryptic URL of the fun video.
</p>
<p>
It is similar to the QR code but requires no camera or paper. 
All you need is your voice to tell Word.
</p>



<h2>How to use</h2>
<p>
Just type or speak your Word at <a href="{% url 'index'%}">Home</a>, and you will be taken to the information associated to the Word.
</p>

<p>
<em>Word-Data</em> pairs can be registered at <a href="{% url 'ask'%}">Add page</a> on a first-come-first-served basis.
Each Word is valid only for a certain period.
The period can be extended at <a href="{% url 'update'%}">Edit page</a> using <em>Editkey</em> chosen at the creation time.
The associated <em>Data</em> can also be modified in the same manner.
</p>
<p>
Note that symbols and double spaces in Word are replaced by a single space.
</p>

<p>
Use Words2URL from LINE(bot):
<a href="https://lin.ee/TXtNdyf"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="Add to LINE" height="36" border="0"></a>                
</p>

<p>
Use Words2URL from Siri(Shortcuts):
<a href="https://www.icloud.com/shortcuts/58f0a04f5e8440bfb1577ff7199dc51c "><img src="https://help.apple.com/assets/5E8CEA35094622DF10489984/5E8CEA42094622DF1048998D/en_GB/18c714c61bfdebca44fe6989f0a2511d.png" alt="Add to Siri" height="36" border="0"></a>
<br>
To use this, you have to allow untrusted Shortcuts on your iOS device in Settings.
After obtaining this Shortcut, you can invoke Words2URL by saying "Hey Siri, asterisk".
Then, you will be prompted to say the Word.
</p>


<h2>Further usage</h2>
The service returns pure text for a GET request like '?query=Words' so that it can be used as a certain API.
For example, you can store XML and retrive from your service.
We hope to see interesting applications.


<h2>Support us</h2>
<p>
Please let us know how you like it:
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-url="https://words2url.herokuapp.com" data-hashtags="words2url">
Tweet</a>
</p>


</div>


<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<!--
<p>If you like Words2URL, please support us from below.</p>
<div id="smart-button-container">
      <div style="text-align: center;">
        <div style="margin-bottom: 1.25rem;">
          <select id="item-options"><option value="" price="1"> 1 USD</option><option value="" price="5" selected="selected"> 5 USD</option><option value="" price="10"> 10 USD</option><option value="" price="20"> 20 USD</option></select>
          <select style="visibility: hidden" id="quantitySelect"></select>
        </div>
      <div id="paypal-button-container"></div>
      </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=Afa78iAGdjlI1r_FgaPG1X8mIDGyZZddE0kHfnibizuipiGu7brfMeHAIcNVlScMSGU3-YwHVA1dlLh4&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script src="{% static 'wordb/paypal.js' %}"></script>
-->

<!--
<form method="POST">
{% csrf_token %}
  <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="pk_test_51JXRyXG56abuzC0Ybb13uiTMSPbKhtULBweO7QfSEvbE8NnSb6J7vYzXiW3Y5nNc3pck4ZtP1MI5l2u1n338Rz2500YF0pJJLC"
      data-amount="1000"
      data-name="Words2URL"
      data-panelLabel="Donate"
      data-description="Support Words2URL"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true">
    </script>
    </form>
-->
{% endblock %}