{% load static %}
{% load i18n %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A web service that associates your favourite words to URL or information">
    <meta name="author" content="S.Kaji">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script data-ad-client="ca-pub-3083031557223107" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Words2URL</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'wordb/style.css' %}">
  <link rel="shortcut icon" href="{% static 'wordb/favicon.ico' %}" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="{% static 'wordb/favicon.ico' %}" type="image/vnd.microsoft.icon" />
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'wordb/apple-touch-icon.png' %}">
  <meta name="apple-mobile-web-app-title" content="Words2URL" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4B29PPNJ50"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4B29PPNJ50');
  </script>

  {% if request.get_full_path == "/" or request.get_full_path == "/wordb/" %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://words2url.herokuapp.com",
      "potentialAction": [{
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "https://words2url.herokuapp.com/?query={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }]
    }
    </script>
    {% endif %}

</head>

<body class="text-center">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Words2url</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
            aria-label="navi">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index'%}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ask'%}">{% trans "Add" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list'%}">{% trans "List" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'update'%}">{% trans "Edit" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about'%}">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                  </a>
                  <!-- Dropdownのメニュー -->
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item active" href="../en/">
                      English
                    </a>
                    <a class="dropdown-item" href="../ja/">
                      日本語
                    </a>
                  </div>
                </li>
              </ul>            
        </div>
</nav>
<!--
<div class="topnav">
    <a {% if request.resolver_match.url_name == "index" %}class="active"{% endif %}  href="/">Home</a>
    <a {% if request.resolver_match.url_name == "ask" %}class="active"{% endif %} href="{% url 'ask' %}">Buy</a>
    <a href="/admin/">Admin</a>
    </div>
    -->
{% if messages %}
	<ul class="messages_ul">
		{% for message in messages %}
			<li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}

<main role="main" class="inner cover">
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
</main>



    <footer class="mastfoot mt-auto">
            <div class="inner">
        </div>
      </footer>

 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
