{% extends './base.html' %}

{% block content %}
{% load static %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text" placeholder="penguin" id="searchBox">
        <button type="submit" class="btn btn-success">Go!</button>
    </form>
    </div>
  <div class="col-sm-auto">
      <button onclick="startConverting()" class='btn btn-info' id="speakBtn">Speak</button>
  </div>
    
{% if not_found_words %}
    <div class="col-sm-auto">
    <form id = "form-id" action="{% url 'ask' %}" method="get">
    {% csrf_token %}
    <input name="words" value="{{ not_found_words }}" type="hidden">
    <a href="#" class="btn btn-outline-secondary " onclick="document.forms['form-id'].submit();" >Get!</a> 
    </form>
    </div>
{% endif %}
  </div>
</div>

<script src="{% static 'wordb/speech.js' %}"></script>

{% endblock content %}
