{% extends './base.html' %}

{% block content %}
{% load static %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text" placeholder="penguin" id="searchBox">
        <button type="submit" class="btn btn-success">Go!</button>
    </form>
    </div>
  <div class="col-sm-auto">
      <button onclick="startConverting()" class='btn btn-info' id="speakBtn">Speak</button>
  </div>
    
{% if not_found_words %}
    <div class="col-sm-auto">
    <form id = "form-id" action="{% url 'ask' %}" method="get">
    {% csrf_token %}
    <input name="words" value="{{ not_found_words }}" type="hidden">
    <a href="#" class="btn btn-outline-secondary " onclick="document.forms['form-id'].submit();" >Get!</a> 
    </form>
    </div>
{% endif %}
  </div>
</div>

<script src="{% static 'wordb/speech.js' %}"></script>

{% if object_list %}
    <h3>Entries found</h3>
<table class="table">
  <thead class="thead-dark"><tr>
            <th scope="col">Words</th>
            <th scope="col">Data</th>
            <th scope="col">Owner</th>
            <th scope="col">Count</th>
            <th scope="col">Begin date</th>
            <th scope="col">Expire date</th>
        </tr></thead>
  <tbody>
    <tr>
        {% for item in object_list %}
        <tr>
            <td>{{ item.words_text }}</td>
            <td>{{ item.data_text }}</td>
            <td>{{ item.owner }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.begin_date }}</td>
            <td>{{ item.end_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock content %}
