{% extends './base.html' %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
      <form action="" method="get">
        <!-- <label for="searchBox">Enter Words</label> -->
          <input name="query" value="{{ request.GET.query }}" type="text" placeholder="{% trans "enter words, e.g., penguin" %}" id="searchBox">
          <button type="submit" class="btn btn-primary">Go!</button>
      </form>
    </div>
    <div class="col-sm-auto">
        <button onclick="startConverting()" class='btn btn-info' id="speakBtn">{% trans "Voice" %}</button>
    </div>
  </div>

{% if not_found_words %}
  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
      <form id = "form-id" action="{% url 'ask' %}" method="get">
      {% csrf_token %}
      <input name="words" value="{{ not_found_words }}" type="hidden">
      <label for="wordBox">{% trans "Get" %} "{{ not_found_words }}"</label>
      <input name="assocURL" value="" type="text" placeholder="https://google.com" id="wordBox">
      </form>
    </div>
    <div class="col-sm-auto">
      <a href="#" class="btn btn-secondary" onclick="document.forms['form-id'].submit();" >Get!</a> 
    </div>
  </div>
{% endif %}
</div>


<script src="{% static 'wordb/speech.js' %}"></script>

{% endblock content %}
